html {
	background-image:		url(cartographer.png);
}

body {
	width:					800px;
	margin:					10px auto 40px;
	padding:				20px;
	
	-moz-border-radius:		20px;
	-webkit-border-radius:	20px;
	-khtml-border-radius:	20px;
	border-radius:			20px;
	
	-moz-box-shadow:		0px 0px 8px #ccc;
	-webkit-box-shadow:		0px 0px 8px #ccc;
	box-shadow:				0px 0px 8px #ccc;
	
	border:					solid #eee 1px;
	
	font-family:			Geneva, Lucida Sans, Lucida Grande, Lucida Sans Unicode, Verdana, sans-serif;
	
	background-color:		white;
}

#links {
	text-align:				right;
}

.italic {
	font-style:				italic;
}

.math {
	font-style:				italic;
}

.code {
	font-family:			Inconsolata, Consolas, Lucida Console, Monaco, monospace;
}
